<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product store</title>
</head>
<body>
<div class="create button">
    <a class="btn btn-primary" href="{% url 'catalog:list' %}" role="button">Каталог</a>
    |
    <a class="btn btn-primary" href="{% url 'catalog:create' %}" role="button">Добавить продукт</a>
    |
    <a class="btn btn-primary" href="{% url 'catalog:blog_list' %}" role="button">Блог</a>
    |
    <a class="btn btn-primary" href="{% url 'catalog:blog_create' %}" role="button">Добавить блог</a>
    |
    <a class="btn btn-primary" href="{% url 'catalog:create_version' %}" role="button">Добавить версию продукта</a>
    |
    <a class="btn btn-primary" href="{% url 'catalog:contact' %}" role="button">Контакты</a>

</div>

{% load static %}
{% block content %}
{% endblock %}
</body>
</html>